<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
</head>
<body>
<h2>Students List</h2>
<ul>
    {% for student in students_list %}
        {% if forloop.counter0|divisibleby:2  %}
            <li style="color : red">{{ student.s_name }} <a href="">delete</a></li>
        {% else %}
            <li>{{ student.s_name }} <a href="">delete</a></li>
        {% endif %}

    {% endfor %}

</ul>
<a href={% url "student:add" %}>添加学生</a>
<a href="">删除学生</a>
</body>
</html>