<!DOCTYPE html>
<html lang="en">
{% block  title%}

{% endblock %}

<body>
{% block body %}

{% endblock %}
</body>
{% block footer %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <br>
    <br>
    <br>
    <footer style="color: chartreuse" >Good Good Study , Day Day Up!~!</footer>
{% endblock %}
</html>