<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FirstPage</title>
</head>
<body>
<h2>This is the first Django Project from me</h2>
<ul>
    <li>With Nice</li>
    <li>With Hate</li>
    <li>Good Bye</li>
</ul>
<br>
{#<img src="/static/zuro.jpg" alt="" width="200" height="105" style="vertical-align:middle">#}
<br>
<br>
<br>
<br>
<h2>Power</h2>
<span>
    <span>妞妞</span>
    <img src="/static/niuniu.jpg" alt="" width="200" height="250" style="vertical-align:middle">

</span>

</body>
</html>